/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

video#two-minute-tale ,
video#eight-minute-tale {
  display:                            none;
  width:                              100%;
}
div#exit-video-overlay {
  width:                              100%;
  height:                            240px;
  margin-left:                        auto;
  margin-right:                       auto;
  position:                       absolute;
  top:                                 0px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
  display:                            none; 
}
img#exit-video-x {
  cursor:                          pointer;
  width:                              56px;
  height:                             56px;
  float:                             right;
  padding:                             8px;
}
div.overvid-caption > img {
  cursor:                          pointer;
}
video.transitional {
  width:                              100%;
  transition-property:        width,height;
  transition-duration:           0.5s,0.5s;
  transition-timing-function:       linear;
}
.contracted div.col-2 {
  display:                            none;
}
.contracted h4 {
  font-size:               13px !important;
}
.contracted p {
  font-size:               11px !important;
}


  .slider-element h2.top-line-text {
		font-size:                        52px;
    opacity:                             0;
    margin-top:                       50px;
    margin-bottom:                     0px;
    background:        rgba(16,16,16,0.35);
    user-select:                      none;
    transition-property:        margin-top;
    transition-duration:              1.0s;
    transition-timing-function:     linear;
	}
  .container h2.faux-quote-body   {
		font-size:                        12px;
		font-weight:                       300;
    margin-top:                        4px;
    margin-bottom:                     4px;
    color:                         #F0F0F0;
    font-family: "Source Sans Pro", sans-serif;
    font-style:                     italic;
	}
  .container h2.faux-quote-attribution   {
		font-size:                        12px;
		font-weight:                       400;
    margin-top:                        4px;
    margin-bottom:                     4px;
    margin-left:                     100px;
    color:                         #F0F0F0;
    font-family: "Source Sans Pro", sans-serif;
    font-style:                     italic;
	}
  .colored-lights-section div.upsell {
  	position:                     absolute;
  	display:                          none;
  	z-index:                             4;
  	height:                          230px;
  	width:                           460px;
  	margin-left:                     -20px;
  	margin-right:                    -20px;
  	padding:           60px 40px 20px 40px;
	}
  .colored-lights-section .upsell button.video-overlay {
  	line-height:                      1.05;
  	letter-spacing:                 normal;
  	text-align:                     center;
  	font-size:                        16px;
  	float:                           right;
  	display:                         block;
  	padding:               2px 4px 0px 4px;
  	margin:              12px 8px 12px 8px;
  	height:                           28px;
  	width:                            72px;
  	color:                         #505050;
  	background: linear-gradient(#D4D4D4,#ACACAC);
  	border:     2px solid rgba(0,0,0,0.35);
  	border-radius:                     6px;
	}
  .colored-lights-section .upsell div.overvid-caption ,
  .colored-lights-section .upsell div.overvid-button {
  	float:                            left;
  	padding:                           6px;
  	position:                     relative;
	}
  .colored-lights-section .upsell div.overvid-caption {
  	margin:              12px 8px 12px 8px;
  	font-size:                        16px;
	}

@media (min-width:  576px) {
  .slider-element h2.top-line-text {
		font-size:                        40px;
    margin-top:                      100px;
	}
  .container h2.faux-quote-body   {
		font-size:                        16px;
	}
  .container h2.faux-quote-attribution   {
		font-size:                        16px;
    margin-left:                     200px;
	}
  .colored-lights-section div.upsell {
  	height:                          260px;
  	width:                           520px;
  	margin-left:                      20px;
  	margin-right:                     20px;
  	padding:           66px 44px 22px 44px;
	}
  .colored-lights-section .upsell div.overvid-caption {
  	font-size:                        18px;
	}
}

@media (min-width:  768px) {
  .slider-element h2.top-line-text {
		font-size:                        44px;
    margin-top:                      150px;
	}
  .container h2.faux-quote-body   {
		font-size:                        20px;
	}
  .container h2.faux-quote-attribution   {
		font-size:                        20px;
    margin-left:                     300px;
	}
  .colored-lights-section div.upsell {
  	height:                          290px;
  	width:                           580px;
  	margin-left:                      60px;
  	margin-right:                     60px;
  	padding:           72px 48px 24px 48px;
	}
  .colored-lights-section .upsell button.video-overlay {
  	font-size:                        17px;
  	padding:               3px 6px 0px 6px;
  	margin:              12px 8px 12px 8px;
  	height:                           28px;
  	width:                            72px;
  	border-radius:                     6px;
	}
  .colored-lights-section .upsell div.overvid-caption {
  	font-size:                        20px;
	}
}

@media (min-width:  992px) {
  .slider-element h2.top-line-text {
		font-size:                        48px;
    margin-top:                      200px;
	}
  .container h2.faux-quote-body   {
		font-size:                        24px;
	}
  .container h2.faux-quote-attribution   {
		font-size:                        24px;
    margin-left:                     400px;
	}
  .colored-lights-section div.upsell {
  	height:                          320px;
  	width:                           640px;
  	margin-left:                     100px;
  	margin-right:                    100px;
  	padding:           78px 52px 26px 52px;
	}
  .colored-lights-section .upsell button.video-overlay {
  	font-size:                        18px;
  	padding:               4px 8px 0px 8px;
  	margin:              13px 9px 13px 9px;
  	height:                           32px;
  	width:                            76px;
  	border-radius:                     7px;
	}
  .colored-lights-section .upsell div.overvid-caption {
  	font-size:                        22px;
	}
}

@media (min-width: 1200px) {
  .slider-element h2.top-line-text {
		font-size:                        52px;
    margin-top:                      200px;
	}
  .container h2.faux-quote-body   {
		font-size:                        28px;
	}
  .container h2.faux-quote-attribution   {
		font-size:                        28px;
    margin-left:                     500px;
	}
  .colored-lights-section div.upsell {
  	height:                          400px;
  	width:                           800px;
  	margin-left:                     160px;
  	margin-right:                    160px;
  	padding:           84px 56px 28px 56px;
	}
  .colored-lights-section .upsell button.video-overlay {
  	font-size:                        20px;
  	padding:             5px 10px 0px 10px;
  	margin:            14px 10px 14px 10px;
  	height:                           36px;
  	width:                            84px;
  	border-radius:                     9px;
	}
  .colored-lights-section .upsell div.overvid-caption {
  	line-height:                      1.35;
  	font-size:                        24px;
	}
}

